.aboutPage {
    align-items: center;
    padding:85px;
    text-align: center;
}

#description {
    margin: 5%;
}

#contact {
    align-items: center;
    text-align:center;
    margin-top: -20px;
}

#github-logo {
    height: 50px;
    width: 50px;
    margin: 15px;
}