* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia;
}

body {
    color: #B8336A;
    text-align: left;
    font-size: 75px;
    background-color: #d2d7ee;
    line-height: 1.5;
}

.logoSpace {
    font-family: "FuzzyBubbles-Regular";
}

.promptContainer {
  font-size: 20px;
}

#seriousPrompt {
    background-color: #476CB0;
    color: white;
    font-family: Georgia;
}

#funnyPrompt {
    background-color: #476CB0;
    color: white;
    font-family: Georgia;
}
#morePrompts {
    background-color: #476CB0;
    color: white;
    font-family: Georgia;
}
.itemEntryForm {
    font-family: Georgia;
}

.journalEntry {
    font-size: 30px;
    color: #B8336A;
}