body {
    color: #B8336A;
    font-family: Baskerville;
    text-align: left;
    font-size: 75px;
    background-color: #d2d7ee;
}

.promptContainer {
  background-color: #9792E3;
  font-size: 20px;
}

#seriousPrompt {
    background-color: #476CB0;
    color: white;
    font-family: Georgia;
}

#funnyPrompt {
    background-color: #476CB0;
    color: white;
    font-family: Georgia;
}
