body {
    color: #B8336A;
    font-family: "FuzzyBubbles-Regular";
    text-align: center;
    font-size: 75px;
    background-color: #d2d7ee;
    line-height: 1.5;
}

.promptContainer {
  font-size: 20px;
}

#seriousPrompt {
    background-color: #476CB0;
    color: white;
    font-family: Georgia;
}

#funnyPrompt {
    background-color: #476CB0;
    color: white;
    font-family: Georgia;
}

.itemEntryForm {
    font-family: Georgia;

}